.tilt {
  background: linear-gradient(to right, rgb(61, 21, 253), rgb(169, 111, 147));
}

.logo-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-image {
  height: 120px;
  width: auto;
}
